// Colors
$primary: #EC4E20;
$secondary: #FFBE39;
$thirdary: #04E762;
$bg: white;

// Header Text Colors
$h1-primary: $primary;

// Text Colors
$p-primary: #515052;

// Shadows
$shadow: 3px 2px 4px $primary;
$shadow-hover: 3px 2px 4px $p-primary;
